/* Add screen styles below */
* {
    margin: auto 0
}
p {
    color: grey;
}

.paper {
    background-color: beige; /* Red paper color */
    padding: 0px 0px 10px 0px; /* Padding for the content */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

body {
    margin: 20px 150px 20px 150px;
    background-color: white;
}

.navi {
    background-color: #c24e00;
    display: flex;
    justify-content: space-between;
}

.navi .inner {
    display: flex;
}

img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
    margin-left: 2px;
}
.navi .inner .left {
    font-weight: bold;
    margin-right: 10px;
    color: black;
}

.navi .inner .center {
    color: black;
}

.navi .login {
    color: black;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Style for the list items */
li {
    padding: 5px;
    border-radius: 5px; /* Rounded corners */
    display: flex;
    gap: 5px;
}

.para {
    margin-left: 37px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #808080; /* Grey color */
}